/* PlaylistSidebar.css */

.playlist-sidebar {
    background-color: #040404;
    color: #fff;
    width: 350px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    z-index: 1;
    overflow: hidden; /* Hide any content overflowing the sidebar */
    transition: left 0.3s ease; /* Add smooth transition effect */
  }
  
  .playlist-sidebar button {
    background-color: #1db954;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 80%;
    margin-bottom: 10px; /* Adjust margin as needed */
  }
  
  .playlist-sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .playlist-sidebar ul li {
    cursor: pointer;
    margin: 5px 0;
  }
  
  .add-to-playlist-modal {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    margin-top: 100px;
    margin-left: 250px;
    transform: translate(-50%, -50%);
    width: 80%; /* Adjust the width as needed */
    max-width: 200px; /* Set a max-width if necessary */
    padding: 20px;
    border-radius: 8px;
    z-index: 2;
  }
  
  .add-to-playlist-modal button {
    background-color: #1db954;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .add-to-playlist-modal input {
    width: 100%; /* Make the input field full width */
    box-sizing: border-box;
    padding: 8px;
    margin-top: 10px;
  }
  
  .playlist-actions {
    display: flex;
    gap: 5px; /* Adjust the gap between icons and playlist title as needed */
  }
  
  .playlist-actions button {
    background-color: #1db954;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .playlist-actions button.delete-button {
    background-color: #d9534f; /* Style for delete button */
  }

  /* Inside PlaylistSidebar.css */
.song-player-container {
  /* Add styles specific to the SongPlayer within the PlaylistSidebar */
  /* For example: */
  margin-top: 20px;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
