/* RegistrationForm.css */

.registration-form-container {
  display: flex;
  justify-content: left;
  align-items: baseline;
  height: 100vh;
}

.registration-form {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: #121212;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.registration-form h2 {
  color: #fff;
  margin-bottom: 20px;
}

.registration-form label {
  display: block;
  margin-bottom: 10px;
  color: #fff;
}

.registration-form input {
  width: calc(100% - 20px); /* Adjusted width to consider padding */
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #535353;
  border-radius: 4px;
  background-color: #121212; /* Modified to match the form background color */
  color: #fff;
}


.registration-form button {
  width: 100%;
  padding: 10px;
  background-color: #1db954;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.registration-form button:hover {
  background-color: #25a05e;
}
